:root {
    --main-font : font-family: 'Poppins', sans-serif;
    --next-font:var:font-family: 'Playfair Display';
    --main-color:#272142
}
body {
  text-align: center;
  padding: 160px 20px;
  background: #F9F7FE;
}
p{
    font-family: var(--main-font);
    font-size: 36px;
    color:var(--main-color);
    font-weight: bold;
    line-height: 54px;
    
}
h1{
    font-family:var(--next-font);
    font-family: var(--next-font);
    font-weight: bold;
    font-size: 96px;
    line-height: 128px;
}
h2{
   font-family: var(--main-font);
   font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;


color:var(--main-color) ; 
}
#btn{
    font-family: var(--main-font);
    font-size: 18px;
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
    padding: 18px 46px;
    margin-top: 50px;
    background-color: #6C63FF;
    border: #6C63FF;
    border-radius: 4px;

}