:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-desciption {
  padding: 120px 60px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }
}
.about-body {
  background: #e5e5e5;
}
.a-h1 {
  width: 500px;
  height: 170px;
  left: calc(50% - 500px / 2 - 330px);
  top: 259px;

  font-family: var(--heading-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
}
.a-p {
  font-family: var(--default-font-family);
  color: #272142;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}
.a-p2 {
  font-family: var(--default-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;

  color: rgba(39, 33, 66, 0.7);
}
#a-b {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 30px;
  font-family: var(--default-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  position: absolute;
  width: 200px;
  height: 63px;
  left: 140px;
  top: 681px;
  color: white;
  background: #6c63ff;
  border-radius: 4px;
}
